{:lists/name "spot-fx"
 :lists/asset [
               "AUDJPY" "AUDNZD" "AUDUSD" "CADJPY" "EURAUD" 
               "EURCAD" "EURCHF" "EURCZK" "EURDKK" "EURGBP" 
               "EURHKD" "EURHUF" "EURILS" "EURJPY" "EURNOK" 
               "EURPLN" "EURSEK" "EURSGD" "EURTRY" "EURTWD" 
               "EURUSD" "EURZAR" "GBPCHF" "GBPJPY" "GBPSEK" 
               "GBPUSD" "NZDJPY" "NZDUSD" "USDCAD" "USDCHF" 
               "USDCNH" "USDCZK" "USDDKK" "USDHKD" "USDHUF" 
               "USDILS" "USDJPY" "USDMXN" "USDNOK" "USDPLN" 
               "USDSEK" "USDSGD" "USDTRY" "USDTWD" "USDZAR"]}
