{:web-server {:port 3000}

 :token
 {:secret "change-me-in-production"
  :auth-expiry 604800
  :store-path ".gorilla/tokenstore"
  :oauth2 {:google {:client-id ""
                    :client-secret ""}
           :github {:client-id ""
                    :client-secret ""}}}

 :timbre/clj
 {:min-level [[#{"*"} :info]]
  :appenders {:default {:type :console-color}}}

 :db {:dir "trade-db-oms-server"
      :uuid #uuid "021097c6-db87-3404-9e84-215f446ef78d"}

 :db-seed {:users-file "users.edn"
           :accounts-file "demo-accounts.edn"
           :assets-file "demo-assets.edn"
           :lists-dir "demo-lists"}

 :oms-server {:ns-require [fix-engine.blotter.account
                           quanta.bybit.blotter.account]
              :log-file "log/oms-server-trace.txt"
              :transaction-log-file "log/oms-server-transaction.txt"
              :account-log-dir "log/oms-account"
              :validate? true
              :tag? true
              :trading-state-log-file "log/oms-server-trading-state.txt"
              :trading-state-print-interval-ms 15000}

 :test-order {:account-id 3
              :interval-sec 30}

 :quote-manager {:quote-accounts-file "demo-quote-accounts.edn"
                 :log-file "log/quotes.txt"
                 :ns-require [fix-engine.quote.account
                              quanta.bybit.quote.account]}}
