{:web-server {:port 3000}

 :token
 {:secret "change-me-in-production"
  :auth-expiry 604800
  :store-path ".gorilla/tokenstore"
  :oauth2 {:google {:client-id ""
                    :client-secret ""}
           :github {:client-id ""
                    :client-secret ""}}}

 :timbre/clj
 {:min-level [[#{"*"} :info]]
  :appenders {:default {:type :console-color}}}
 
 :db {:dir "/home/florian/repo/clojure-quant/quanta-blotter/demo/trade-db-oms-server"
      :uuid #uuid "021097c6-db87-3404-9e84-215f446ef78d"}
 
 }
