{:modular (modular.system/modular-env)
 :components
 {;; tools
  :config {:start (deref (modular.config/load-config! (:config #ref [:modular])))}

  :timbre {:start (modular.log/timbre-config!
                   (:timbre/clj (clip/ref :config)))}

  ;; trading
  :db {:start (quanta.util.datahike/db-start
               {:schema (concat
                         (deref quanta.blotter.oms.db/schema)
                         (deref quanta.asset.schema/asset)
                         (deref modular.permission.user.datahike/schema))
                :db-path (get-in (clip/ref :config) [:db :dir])
                :uuid (get-in (clip/ref :config) [:db :uuid])
                :seed-fn [(quanta.blotter-hyper.users/seed-edn-users
                           (get-in (clip/ref :config) [:db-seed :users-file]))
                          (quanta.blotter.account-manager/seed-edn-accounts
                           (get-in (clip/ref :config) [:db-seed :accounts-file]))
                          (quanta.asset.seed/seed-edn-assets-fn
                           (get-in (clip/ref :config) [:db-seed :assets-file]))
                          (quanta.asset.seed/seed-edn-lists-fn
                           (get-in (clip/ref :config) [:db-seed :lists-dir]))]})
       :stop (quanta.util.datahike/db-stop this)}

  :oms-server {:start (quanta.blotter.oms.server/start-oms-server
                       (:oms-server (clip/ref :config))
                       (clip/ref :db))
               :stop (quanta.blotter.oms.server/stop-oms-server this)}

  ;:test-order-poller 
  ;  {:start (demo.test-order-sender/start-order-poller
  ;         (:oms (clip/ref :oms-server))
  ;         (:test-order (clip/ref :config))
  ;  :stop (demo.test-order-sender/stop-order-poller this)}
  
  ;:socket-server {:start (quanta.blotter.cli.server/start-socket-server
  ;                        (:oms (clip/ref :oms-server))
   ;                       (clip/ref :db)
    ;                      (clip/ref :oms-server))
   ;               :stop (.stop this)}

  :quote-manager {:start (quanta.quote.core/create-quote-manager
                          (assoc (:quote-manager (clip/ref :config))
                                 :db (clip/ref :db)))}

  :sim {:start (playground.notification.state/start!)
        :stop (playground.notification.state/stop!)}

  ;; web
  :user-manager {:start (modular.permission.user.datahike/create-user-manager
                         (clip/ref :db))}
  :ctx {:start {:db (clip/ref :db)
                :token (clip/ref :token)
                :oms-server (clip/ref :oms-server)
                :quote-manager (clip/ref :quote-manager)
                :trader/nav (deref quanta.blotter-hyper.nav/trader-nav)
                :admin/nav (deref quanta.blotter-hyper.nav/admin-nav)}}
  :token {:start (quanta.blotter-hyper.auth/start-token-service!
                  (clip/ref :config)
                  (clip/ref :user-manager))}
  :sse-heartbeat {:start (quanta.blotter-hyper.status.core/start!)
                  :stop (quanta.blotter-hyper.status.core/stop!)}
  :routes {:start (playground.routes/routes (clip/ref :ctx))}
  :handler {:start (quanta.blotter-hyper.handler/create-handler
                    (clip/ref :routes)
                    [(deref playground.notification.state/notifications*)])}
  :hyper {:start (hyper.core/start!
                  (clip/ref :handler)
                  (:web-server (clip/ref :config)))
          :stop (hyper.core/stop! this)}

  ;; nrepl
  :nrepl {:start (nrepl.server/start-server :bind "0.0.0.0" :port 9100)
          :stop (.close this)}

  :reload {:start (clj-reload.core/init
                   {:dirs ["src" "../quanta-blotter-hyper/src"]
                    ;:no-reload '#{user}
                    })}
 ; 
  }}
