{:modular (modular.system/modular-env)
 :components
 {;; tools
  :config {:start (deref (modular.config/load-config! (:config #ref [:modular])))}

  :timbre {:start (modular.log/timbre-config!
                   (:timbre/clj (clip/ref :config)))}

  ;; trading
  :db {:start (quanta.blotter.oms.db/trade-db-start 
               (:path (:db (clip/ref :config)))
               (:uuid (:db (clip/ref :config))))
       :stop (quanta.blotter.oms.db/trade-db-stop this)}

  :sim {:start (antman.sim.state/start!)
        :stop (antman.sim.state/stop!)}

  ;; web
  :ctx {:start {:db (clip/ref :db)
                :token (clip/ref :token)}}
  :token {:start (quanta.blotter-hyper.auth/start-token-service! (clip/ref :config))}
  :sse-heartbeat {:start (antman.sse.heartbeat/start!)
                  :stop (antman.sse.heartbeat/stop!)}
  :routes {:start (demo.routes/rebuild! (clip/ref :ctx))}
  :handler {:start (demo.handler/create-handler)}
  :hyper {:start (hyper.core/start!
                  (clip/ref :handler)
                  (:web-server (clip/ref :config)))
          :stop (hyper.core/stop! this)}

  ;; nrepl
  :nrepl {:start (nrepl.server/start-server :bind "0.0.0.0" :port 9100)
          :stop (.close this)}
  
  :reload {:start (clj-reload.core/init
                   {:dirs ["src" "../quanta-blotter-hyper/src"]
                    ;:no-reload '#{user}
                    })}
 ; 
  }}
