{:users
 {:admin
  {:password "3e037862f67083f048cd1cd611adfdea",
   :roles #{:admin},
   :email ["admin@example.com"]},
  :viewer
  {:password "2cf93d67884e1e50e65bfa71671c55ec",
   :roles #{:viewer},
   :email ["viewer@example.com"]},
  :florian
  {:password "5fcdcab954b67c06ca3f8b57358c9b1b",
   :roles #{:trader :admin},
   :email ["trader@example.com"]},
  :ant
  {:password "5fcdcab954b67c06ca3f8b57358c9b1b",
   :roles #{:trader},
   :email ["trader@example.com"]},
  :arne
  {:password "5fcdcab954b67c06ca3f8b57358c9b1b",
   :roles #{:trader},
   :email ["trader@example.com"]}}}
