{:users
 [
  {:user/name "testtrader" ;; trader to do permanent __TEST orders.
   :user/password "5fcdcab954b67c06ca3f8b57358c9b1b"
   :user/roles #{:trader}
   :user/email ["trader@example.com"]}
  ;; real traders here
  {:user/name "florian"
   :user/password "5fcdcab954b67c06ca3f8b57358c9b1b"
   :user/roles #{:trader :admin}
   :user/email ["trader@example.com"]}
  {:user/name "ant"
   :user/password "5fcdcab954b67c06ca3f8b57358c9b1b"
   :user/roles #{:trader :admin}
   :user/email ["trader@example.com"]}
  {:user/name "arne"
   :user/password "5fcdcab954b67c06ca3f8b57358c9b1b"
   :user/roles #{:trader}
   :user/email ["trader@example.com"]}]}
