[{:account/id 1
  :account/trader "florian"
  :account/name "fpaper-2fills"
  :account/notes "always fills order with 2 fills; timing is random"
  :account/api :paper 
  :account/settings {:reject-probability 0
                     :bad-orderupdate-probability 0
                     :fill-probability 20
                     :fill-qty-prct [50 50]
                     :wait-seconds 5}}
 {:account/id 2
  :account/trader "arne"
  :account/name "apaper-1fill"
  :account/notes "always fills 100% of the order; timing is random"
  :account/api :paper 
  :account/settings {:reject-probability 0
                     :bad-orderupdate-probability 0
                     :fill-probability 10
                     :fill-qty-prct [100]
                     :wait-seconds 5}}
 {:account/id 3
  :account/trader "arne"
  :account/name "apaper-1fill-1s"
  :account/notes "always fills 100% of the order after 1 second"
  :account/api :paper
  :account/settings {:reject-probability 0
                     :bad-orderupdate-probability 0
                     :fill-probability 100
                     :fill-qty-prct [100]
                     :wait-seconds 1}}
 {:account/id 4
  :account/trader "florian"
  :account/name "fpaper-reject"
  :account/notes "all orders will be rejected"
  :account/api :paper
  :account/settings {:reject-probability 100
                     :bad-orderupdate-probability 0
                     :fill-probability 100
                     :fill-qty-prct [100]
                     :wait-seconds 1}}
 {:account/id 5
  :account/trader "florian"
  :account/name "fpaper fast/bad"
  :account/notes "a real world account with an unreliable but fast broker."
  :account/api :paper 
  :account/settings {:reject-probability 20
                     :bad-orderupdate-probability 10
                     :fill-probability 20
                     :fill-qty-prct [25 25 50]
                     :wait-seconds 1}}
 
 {:account/id 6
  :account/trader "florian"
  :account/name "fpaper corrupt"     
  :account/notes "every message will be corrupted"
  :account/api :paper 
  :account/settings {:reject-probability 1
                     :bad-orderupdate-probability 100
                     :fill-probability 100
                     :fill-qty-prct [100]
                     :wait-seconds 1}}
 
 {:account/id 7
  :account/trader "ant"
  :account/name "apaper never" 
  :account/notes "will never fill an order."
  :account/api :paper 
  :account/settings {:reject-probability 0
                     :bad-orderupdate-probability 0
                     :fill-probability 0
                     :fill-qty-prct [100]
                     :wait-seconds 60}}

 {:account/id 1000
  :account/trader "florian"
  :account/name "pepperstone demo1" 
  :account/notes "Pepperstone demo SSL"
  :account/api :fix-trade 
  :account/settings {:spec "fix-specs/ctrader.edn"
                     :header {:begin-string "FIX.4.4"
                              :target-comp-id "CSERVER"
                              :sender-comp-id "demo.pepperstone.5292473"
                              :target-sub-id "TRADE"
                              :sender-sub-id "TRADE"}
                     :tcp {:host "demo-us-eqx-01.p.c-trader.com"
                           :port 5212
                           :ssl true}
                     :login {:username "5292473"
                             :password "Regenschirm13!"}}}]
