 ;; spot-fx
[{:asset/symbol "AUDJPY"
  :asset/currency "JPY"
  :asset/name "Australian Dollar / Japanese Yen"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "AUDNZD"
  :asset/currency "NZD"
  :asset/name "Australian Dollar / New Zealand Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "AUDUSD"
  :asset/currency "USD"
  :asset/name "Australian Dollar / US Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "CADJPY"
  :asset/currency "JPY"
  :asset/name "Canadian Dollar / Japanese Yen"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURAUD"
  :asset/currency "AUD"
  :asset/name "Euro / Australian Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURCAD"
  :asset/currency "CAD"
  :asset/name "Euro / Canadian Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURCHF"
  :asset/currency "CHF"
  :asset/name "Euro / Swiss Franc"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURCZK"
  :asset/currency "CZK"
  :asset/name "Euro / Czech Koruna"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURDKK"
  :asset/currency "DKK"
  :asset/name "Euro / Danish Krone"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURGBP"
  :asset/currency "GBP"
  :asset/name "Euro / British Pound"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURHKD"
  :asset/currency "HKD"
  :asset/name "Euro / Hong Kong Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURHUF"
  :asset/currency "HUF"
  :asset/name "Euro / Hungarian Forint"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURILS"
  :asset/currency "ILS"
  :asset/name "Euro / Israeli Shekel"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURJPY"
  :asset/currency "JPY"
  :asset/name "Euro / Japanese Yen"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURNOK"
  :asset/currency "NOK"
  :asset/name "Euro / Norwegian Krone"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURPLN"
  :asset/currency "PLN"
  :asset/name "Euro / Polish Zloty"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURSEK"
  :asset/currency "SEK"
  :asset/name "Euro / Swedish Krona"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURSGD"
  :asset/currency "SGD"
  :asset/name "Euro / Singapore Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURTRY"
  :asset/currency "TRY"
  :asset/name "Euro / Turkish Lira"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURTWD"
  :asset/currency "TWD"
  :asset/name "Euro / Taiwan Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURUSD"
  :asset/currency "USD"
  :asset/name "Euro / US Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "EURZAR"
  :asset/currency "ZAR"
  :asset/name "Euro / South African Rand"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "GBPCHF"
  :asset/currency "CHF"
  :asset/name "British Pound / Swiss Franc"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "GBPJPY"
  :asset/currency "JPY"
  :asset/name "British Pound / Japanese Yen"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "GBPSEK"
  :asset/currency "SEK"
  :asset/name "British Pound / Swedish Krona"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "GBPUSD"
  :asset/currency "USD"
  :asset/name "British Pound / US Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "NZDJPY"
  :asset/currency "JPY"
  :asset/name "New Zealand Dollar / Japanese Yen"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "NZDUSD"
  :asset/currency "USD"
  :asset/name "New Zealand Dollar / US Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDCAD"
  :asset/currency "CAD"
  :asset/name "US Dollar / Canadian Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDCHF"
  :asset/currency "CHF"
  :asset/name "US Dollar / Swiss Franc"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDCNH"
  :asset/currency "CNH"
  :asset/name "US Dollar / Chinese Yuan (offshore)"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDCZK"
  :asset/currency "CZK"
  :asset/name "US Dollar / Czech Koruna"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDDKK"
  :asset/currency "DKK"
  :asset/name "US Dollar / Danish Krone"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDHKD"
  :asset/currency "HKD"
  :asset/name "US Dollar / Hong Kong Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDHUF"
  :asset/currency "HUF"
  :asset/name "US Dollar / Hungarian Forint"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDILS"
  :asset/currency "ILS"
  :asset/name "US Dollar / Israeli Shekel"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDJPY"
  :asset/currency "JPY"
  :asset/name "US Dollar / Japanese Yen"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDMXN"
  :asset/currency "MXN"
  :asset/name "US Dollar / Mexican Peso"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDNOK"
  :asset/currency "NOK"
  :asset/name "US Dollar / Norwegian Krone"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDPLN"
  :asset/currency "PLN"
  :asset/name "US Dollar / Polish Zloty"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDSEK"
  :asset/currency "SEK"
  :asset/name "US Dollar / Swedish Krona"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDSGD"
  :asset/currency "SGD"
  :asset/name "US Dollar / Singapore Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDTRY"
  :asset/currency "TRY"
  :asset/name "US Dollar / Turkish Lira"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDTWD"
  :asset/currency "TWD"
  :asset/name "US Dollar / Taiwan Dollar"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.001M
  :asset/quantity-step 1000M
 }
 {:asset/symbol "USDZAR"
  :asset/currency "ZAR"
  :asset/name "US Dollar / South African Rand"
  :asset/exchange "FX"
  :asset/category :fx
  :asset/market :forex
  :asset/margin 5
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1000M
 }
 ;; test-assets
 {:asset/symbol "__TEST"
  :asset/currency "USD"
  :asset/name "Test symbol"
  :asset/exchange "TEST"
  :asset/category :fx
  :asset/market :fx
  :asset/margin 10
  :asset/default-quote-account 4
  :asset/price-point 0.01M
  :asset/quantity-step 1M
 }
 {:asset/symbol "__TEST2"
  :asset/currency "USD"
  :asset/name "Test symbol 2"
  :asset/exchange "TEST"
  :asset/category :fx
  :asset/market :fx
  :asset/margin 10
  :asset/default-quote-account 4
  :asset/price-point 0.01M
  :asset/quantity-step 1M
 }
 ;; crypto-assets
 {:asset/symbol "BTCUSDT.S.BB"
  :asset/currency "USD"
  :asset/name "Bitcoin / Tether (Bybit spot)"
  :asset/exchange "BYBIT"
  :asset/category :crypto
  :asset/market :crypto
  :asset/margin 20
  :asset/default-quote-account 3
  :asset/price-point 0.1M
  :asset/quantity-step 0.000001M
  :asset/bybit [:spot "BTCUSDT"]
 }
 {:asset/symbol "ETHUSDT.S.BB"
  :asset/currency "USD"
  :asset/name "Ethereum / Tether (Bybit spot)"
  :asset/exchange "BYBIT"
  :asset/category :crypto
  :asset/market :crypto
  :asset/margin 20
  :asset/default-quote-account 3
  :asset/price-point 0.01M
  :asset/quantity-step 0.00001M
  :asset/bybit [:spot "ETHUSDT"]
 }
 {:asset/symbol "BTCUSDT.LF.BB"
  :asset/currency "USD"
  :asset/name "Bitcoin / Tether (Bybit linear perpetual)"
  :asset/exchange "BYBIT"
  :asset/category :crypto
  :asset/market :crypto
  :asset/margin 20
  :asset/default-quote-account 2
  :asset/price-point 0.1M
  :asset/quantity-step 0.001M
  :asset/bybit [:linear "BTCUSDT"]
 }
 {:asset/symbol "ETHUSDT.LF.BB"
  :asset/currency "USD"
  :asset/name "Ethereum / Tether (Bybit linear perpetual)"
  :asset/exchange "BYBIT"
  :asset/category :crypto
  :asset/market :crypto
  :asset/margin 20
  :asset/default-quote-account 2
  :asset/price-point 0.01M
  :asset/quantity-step 0.01M
  :asset/bybit [:linear "ETHUSDT"]
 }
 ;; futures
 {:asset/symbol "6B_USD"
  :asset/currency "USD"
  :asset/name "British Pound"
  :asset/exchange "CME"
  :asset/category :future
  :asset/market :us
  :asset/margin 10
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1M
 }
 {:asset/symbol "6E_USD"
  :asset/currency "USD"
  :asset/name "Euro FX"
  :asset/exchange "CME"
  :asset/category :future
  :asset/market :us
  :asset/margin 10
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1M
 }
 {:asset/symbol "CL_USD"
  :asset/currency "USD"
  :asset/name "Crude Oil"
  :asset/exchange "CME"
  :asset/category :future
  :asset/market :us
  :asset/margin 10
  :asset/default-quote-account 1
  :asset/price-point 0.01M
  :asset/quantity-step 1M
 }
 {:asset/symbol "E7_USD"
  :asset/currency "USD"
  :asset/name "E-mini Euro FX"
  :asset/exchange "CME"
  :asset/category :future
  :asset/market :us
  :asset/margin 10
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1M
 }
 {:asset/symbol "ES_USD"
  :asset/currency "USD"
  :asset/name "E-mini S&P 500"
  :asset/exchange "CME"
  :asset/category :future
  :asset/market :us
  :asset/margin 10
  :asset/default-quote-account 1
  :asset/price-point 0.25M
  :asset/quantity-step 1M
 }
 {:asset/symbol "J7_USD"
  :asset/currency "USD"
  :asset/name "E-mini Japanese Yen"
  :asset/exchange "CME"
  :asset/category :future
  :asset/market :us
  :asset/margin 10
  :asset/default-quote-account 1
  :asset/price-point 0.000001M
  :asset/quantity-step 1M
 }
 {:asset/symbol "NG_USD"
  :asset/currency "USD"
  :asset/name "Natural Gas"
  :asset/exchange "CME"
  :asset/category :future
  :asset/market :us
  :asset/margin 10
  :asset/default-quote-account 1
  :asset/price-point 0.001M
  :asset/quantity-step 1M
 }
 {:asset/symbol "RP_USD"
  :asset/currency "USD"
  :asset/name "Euro FX / British Pound"
  :asset/exchange "CME"
  :asset/category :future
  :asset/market :us
  :asset/margin 10
  :asset/default-quote-account 1
  :asset/price-point 0.0001M
  :asset/quantity-step 1M
 }]
