{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        io.github.clojure-quant/quanta-blotter-hyper {:local/root "../quanta-blotter-hyper" :deps/manifest :deps} 
        io.github.clojure-quant/quanta-blotter-cli {:mvn/version "0.1.78"}
        io.github.clojure-quant/fix-engine {:mvn/version "0.1.73"}
        io.github.clojure-quant/quanta-bybit {:mvn/version "0.1.10"}
        
        }
 :aliases
 {:run {:extra-deps {io.github.tonsky/clj-reload {:mvn/version "1.0.0"}}
        :exec-fn modular.system/start!
        :exec-args {:config ["config.edn" "users.edn"]
                    :services "services.edn"
                    :profile "default"
                    :version "prod1"}}
  :hash-users {:exec-fn quanta.blotter-hyper.users/hash-users-file!}
  :cli-asset-list-print {:exec-fn demo.cli-asset-list-print/start-cli}
  :dev {:extra-paths ["dev"]
        :extra-deps {io.github.tonsky/clj-reload {:mvn/version "1.0.0"}}}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.05.25"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test" "deps.edn" "--fail-level" "error"]}

  :lint-imports {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.05.25"}}
                 :main-opts ["-m" "clj-kondo.main" "--dependencies" "--copy-configs" "--parallel"]}}}
